*.iml
.gradle
/local.properties
/.idea/caches/
/.idea/workspace.xml
/.idea/usage.statistics.xml
/.idea/tasks.xml
/.idea/modules.xml
/.idea/gradle.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
app/release/
/backups
